::placeholder {
  font-style: italic;
  font-size: 0.9em; /* Adjust the size as needed */
}

body {
  background-color: #919191;
}

.message-popover .popover-arrow {
  display: none !important;
  /* padding: 3px !important;
  margin: 3px !important; */
}

.popover-body {
  padding: 5px !important;
  margin: 5px !important;
}

section {
  font-family: 'Times New Roman', serif;
}

.message-list, .chat-list, .list, .search-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.default-logo {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.card{
  min-width: 360px;
}

.overflow-x-off {
  overflow-x: hidden;
}

.over-lay{
  background-color: rgb(255, 255, 255);
  max-width: 20%;
  border-style: solid;
  border-color: #d2f4f7;
  border-radius: 10px;
  border: top 0px;
  border-width: 1px;
  box-shadow: #a2e6ee;
}

.diplayName-middle {
  margin-right: 10px;
  margin-left: 10px;
}


/* .container {
  min-width: 500px !important;

} */

.unread {

  color: rgb(243, 89, 89);
  /* This will set the text color to red */
  text-align: center;
}

.btn {
  background-color: #6ec3cd !important;
  border-color:  #a2e6ee !important;
}

.displayName {
  font-weight: bold;
}

.list:hover {
  background-color: rgb(228, 237, 242);
}


.chat-list .selected {
  background-color: rgb(180, 225, 249);
}

/* section.container {
  min-width: 600px;
  width: 600px;
} */

.fill-space {
  flex-grow: 1;
  overflow: auto;
}

/* .no-arrow .arrow::after {
  display: none;
} */

.sign-in-logo {
  max-width: 30px;
  height: auto;
  border-radius: 50%;
}


.edit-avatar {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.avatar {
  max-width: 40px;
  height: auto;
  border-radius: 50%;

}

.profile {
  background-color: #a2e6ee;
  max-height: 50px;
}

.message {
  width: fit-content;
  padding: 8px;
  margin: 1px;
  border-radius: 7px;
  }

.received {
  /* background-color: #9cfaa9; */
  /* box-shadow: 0 0 3px #9cfaa9 */
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* align-self: flex-start; */
}

.sent {
  /* background-color: #a2e6ee; */
  /* box-shadow: 0 0 3px #a2e6ee */
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  /* align-self: flex-end; */
}
.error {
  color: red;
  font-size: 0.8em;
  text-align: center;
}

.error-border {
  border: 1px solid red;
}
